
h1{
   color: #CD1818;

 }
 .Musique{display:inline;
 width:40%;
 padding-bottom:20px;
}

.Cinema{display:inline-block;
}
 body{
   background:linear-gradient(#F7D716, #F15412, #F7D716);
   margin:1px;
   border: dotted #CD1818;
 }
 .contenedor{
   font-size: 25px;
  text-align:center;
   color:#CD1818;
   width: 98vw;
   height: 100vh;
   padding: inherit;
 }
.ladygaga{
  width: 70vw;
 
}
